{{!-- <p> je suis la racine mon age est {{age}}</p> --}}
<form class = "myForm">

    <input class="myLocaction">
    
    </input>
    <button> chercher

    </button>

    <p id="weatherData">

    </p>
</form>